.container .title {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .queryText {
    color: #f7d357;
}

.moviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.moviesContainer div {
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
}

.moviesContainer div img {
    max-width: 100%;
}

.moviesContainer div img,
.moviesContainer div h2,
.moviesContainer div p {
    margin-bottom: 1rem;
}

.moviesContainer div svg {
    color: #f7d357;
}

.moviesContainer div a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: 1rem .5rem;
    align-items: center;
    transition: .4s;
    text-align: center;
    font-weight: bold;
}

.moviesContainer div a:hover {
    background-color: transparent;
    color: #f7d354;
}