.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.minHeight {
    min-height: 75vh;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}