@charset "UTF-8";

body {
    font: normal 15pt Arial;
    background: rgb(12, 57, 102);
}

header h1 {
    color: white;
    text-align: center;
    padding: 5px;
}

section {
    background: white;
    border-radius: 8px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.312);
}

div {
    text-align: center;
    padding: 8px;
}

footer p {
    color: white;
    text-align: center;
    padding: 5px;
    font-style: italic;
}